<?xml version="1.0" encoding="utf-8"?>
<config>
    <options>
        <exclude>^~</exclude>
        <exclude>^wizard_</exclude>
        <exclude module="conversion">START_DATE_TIME</exclude>
        <exclude module="currency">installed_currencies</exclude>
        <exclude module="eshop">.*</exclude>
        <exclude module="forum">FORUM_FROM_EMAIL</exclude>
        <exclude module="intervolga\.common">debug_1c</exclude>
        <exclude module="intervolga\.common">max_size_folder_1c_exchange</exclude>
        <exclude module="intervolga\.common">log_1c_period</exclude>
        <exclude module="intervolga\.common">redirect_emails</exclude>
        <exclude module="intervolga\.common">catch_all_emails</exclude>
        <exclude module="mail">.*</exclude>
        <exclude module="main">signer_default_key</exclude>
        <exclude module="main">server_uniq_id</exclude>
        <exclude module="main">^update_.*</exclude>
        <exclude module="main">strong_update_check</exclude>
        <exclude module="main">stable_versions_only</exclude>
        <exclude module="main">translate_key_yandex</exclude>
        <exclude module="main">site_name</exclude>
        <exclude module="main">server_name</exclude>
        <exclude module="main">error_reporting</exclude>
        <exclude module="main">all_bcc</exclude>
        <exclude module="main">email_from</exclude>
        <exclude module="main">crc_code</exclude>
        <exclude module="main">distributive6</exclude>
        <exclude module="main">^dump_.*</exclude>
        <exclude module="main">INSTALL_STATISTIC_TABLES</exclude>
        <exclude module="main">last_files_count</exclude>
        <exclude module="main">mp_modules_date</exclude>
        <exclude module="main">admin_passwordh</exclude>
        <exclude module="main">captcha_password</exclude>
        <exclude module="main">new_user_registration_def_group</exclude>
        <exclude module="main">optimize_css_files</exclude>
        <exclude module="main">optimize_js_files</exclude>
        <exclude module="main">site_checker_success</exclude>
        <exclude module="main">site_stopped</exclude>
        <exclude module="main">last_backup_end_time</exclude>
        <exclude module="main">last_backup_start_time</exclude>
        <exclude module="perfmon">.*</exclude>
        <exclude module="sale">order_email</exclude>
        <exclude module="sale">location</exclude>
        <exclude module="sale">location_zip</exclude>
        <exclude module="sale">export_session_name_\/bitrix\/admin\/1c_excha</exclude>
        <exclude module="sale">export_session_id_\/bitrix\/admin\/1c_excha</exclude>
        <exclude module="sale">secure_1c_exchange</exclude>
        <exclude module="sale">last_export_time_\/bitrix\/admin\/1c_excha</exclude>
        <exclude module="sale">last_export_time_committed_\/bitrix\/admin\/1c_excha</exclude>
        <exclude module="sale">onec_exchange_last_time</exclude>
        <exclude module="sale">basket_discount_converted</exclude>
        <exclude module="search">^bitrix24net_.*</exclude>
        <exclude module="security">ipcheck_disable_file</exclude>
        <exclude module="security">redirect_sid</exclude>
        <exclude module="sender">address_from</exclude>
        <exclude module="sender">address_send_to_me</exclude>
        <exclude module="socialservices">^bitrix24net_.*</exclude>
        <exclude module="statistic">^dbnode_.*</exclude>
        <exclude module="storeassist">num_orders</exclude>
        <exclude module="subscribe">default_from</exclude>
        <exclude module="subscribe">default_to</exclude>
    </options>
    <module>
        <name>main</name>
        <entity>
            <name>group</name>
        </entity>
        <entity>
            <name>event</name>
        </entity>
        <entity>
            <name>eventtype</name>
        </entity>
        <entity>
            <name>field</name>
        </entity>
        <entity>
            <name>fieldenum</name>
        </entity>
        <entity>
            <name>site</name>
        </entity>
        <entity>
            <name>culture</name>
        </entity>
        <entity>
            <name>language</name>
        </entity>
        <entity>
            <name>sitetemplate</name>
        </entity>
        <entity>
            <name>fileaccess</name>
        </entity>
        <entity>
            <name>agent</name>
        </entity>
        <entity>
            <name>task</name>
        </entity>
        <entity>
            <name>grouprights</name>
        </entity>
    </module>
    <module>
        <name>catalog</name>
        <entity>
            <name>pricetype</name>
        </entity>
        <entity>
            <name>store</name>
        </entity>
        <entity>
            <name>extra</name>
        </entity>
        <entity>
            <name>iblock</name>
        </entity>
        <entity>
            <name>rounding</name>
        </entity>
        <entity>
            <name>measure</name>
        </entity>
    </module>
    <module>
        <name>sale</name>
        <entity>
            <name>persontype</name>
        </entity>
        <entity>
            <name>propertygroup</name>
        </entity>
        <entity>
            <name>property</name>
        </entity>
        <entity>
            <name>propertyvariant</name>
        </entity>
        <entity>
            <name>status</name>
        </entity>
    </module>
    <module>
        <name>iblock</name>
        <entity>
            <name>type</name>
        </entity>
        <entity>
            <name>iblock</name>
        </entity>
        <entity>
            <name>property</name>
        </entity>
        <entity>
            <name>enum</name>
        </entity>
        <entity>
            <name>permission</name>
        </entity>
        <entity>
            <name>field</name>
        </entity>
        <entity>
            <name>fieldenum</name>
        </entity>
        <entity>
            <name>form</name>
        </entity>
    </module>
    <module>
        <name>highloadblock</name>
        <entity>
            <name>highloadblock</name>
        </entity>
        <entity>
            <name>field</name>
        </entity>
        <entity>
            <name>fieldenum</name>
        </entity>
        <entity>
            <name>permission</name>
        </entity>
    </module>
    <module>
        <name>advertising</name>
        <entity>
            <name>bannertype</name>
        </entity>
    </module>
    <module>
        <name>workflow</name>
        <entity>
            <name>status</name>
        </entity>
    </module>
    <module>
        <name>form</name>
        <entity>
            <name>form</name>
        </entity>
        <entity>
            <name>field</name>
        </entity>
        <entity>
            <name>answer</name>
        </entity>
    </module>
    <module>
        <name>perfmon</name>
        <entity>
            <name>index</name>
        </entity>
    </module>
</config>