<?xml version="1.0" encoding="utf-8"?>
<!-- Раскомментируйте сущности которые вам необходимо мигрировать -->
<config>
    <module>
        <name>main</name>
        <!--entity>
            <name>group</name>
        </entity>
        <entity>
            <name>eventtype</name>
        </entity>
        <entity>
            <name>event</name>
        </entity-->
    </module>
    <module>
        <name>iblock</name>
        <!--entity>
            <name>type</name>
        </entity>
        <entity>
            <name>typelang</name>
        </entity>
        <entity>
            <name>iblock</name>
        </entity>
        <entity>
            <name>permission</name>
        </entity>
        <entity>
            <name>section</name>
        </entity>
        <entity>
            <name>property</name>
        </entity>
        <entity>
            <name>enum</name>
        </entity>
        <entity>
            <name>field</name>
        </entity>
        <entity>
            <name>fieldenum</name>
        </entity>
        <entity>
            <name>element</name>
        </entity-->
    </module>
    <module>
        <name>highloadblock</name>
        <!--entity>
            <name>highloadblock</name>
        </entity>
        <entity>
            <name>element</name>
        </entity>
        <entity>
            <name>field</name>
        </entity>
        <entity>
            <name>fieldenum</name>
        </entity-->
    </module>
</config>